body{
    background-color: rgb(206, 233, 255);
    background-repeat: no-repeat;
    background-size: 100vw;
    
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.scrollable{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.startpage-header{
    background-color: #3f4968;
}

.startpage-header > *{
    color: white;
    padding-top: 50px;
    padding-bottom: 40px;
}

.headerpics{
    align-self: center;
    padding: 10px;
}

.headerpics > *{
    width: 45vw;
    height: auto;
    border-radius: 35px;
    align-self: center;
    padding: 25px;
    margin-bottom: 20px;
}

.hp1{
    transform: rotate(-3deg);
}
.hp2{
    transform: rotate(3deg);
}

h1, h2{
    text-align: center;
}

img{
    width: 500px;
    height: auto;
}

* {box-sizing:border-box}

.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mySlides1, .mySlides2{
    border-radius: 35px;
    align-self: center;
    background-color: white;
}

.slide-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide-content	> * {
    border-radius: 35px;
    padding: 25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}