body{
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: 100vw;
    
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div{
    background-color: #f1f1f100;
}

.scrollable{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.startpage-header{
    background-color: #1f1f1f;
}

.startpage-header > *{
    color: #f1f1f1;
    padding-top: 40px;
    padding-bottom: 30px;
}

.img-top{
    z-index: 10;
    opacity: 100%;
    box-shadow: #f1f1f1;
}

.img-bottom{
    z-index: 1;
    opacity: 47%;
}

#imgA{
    right: -35vw;
}

#imgB{
    right: -70vw;
}

.headerpics{
    align-self: center;
    padding: 10px;
    position: relative;
    right: 25vw;
    height: 60vh;
}

.headerpics > * > * {
    height: 55vh;
    width: 55vw;
    border-radius: 25px;
    align-self: center;
    padding-top: 5px;
    margin-bottom: 20px;
    position: absolute;
}

h1, h2{
    text-align: center;
}

* {box-sizing:border-box}

.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */

.slideshow-container {
  max-width: 80vw;
  position: relative;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}

.mySlides1, .mySlides2{
    border-radius: 35px;
    align-self: center;
    background-color: #e2e2e2;
}

.slide-content-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide-content-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.slide-content-row	> * , .slide-content-col	> * {
    border-radius: 35px;
    padding: 25px;
}

.slide-content-row > .img-text-row {
    width: 40%;
    height: auto;
}

.slide-content-col > .img-text-col {
    width: 100%;
    height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/*edit buttons*/
.button-parent{
    margin-left: 50vw;
}

#button-parent > *{
    border-radius: 0.8rem;
    color: var(--text-color);
    background-color: var(--secondary-theme);
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-top: 0.4rem;
}