nav{
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items:baseline;
    background-color: var(--secondary-color);
}
nav>a>img,
nav>a{
    height: inherit;
}
nav>img{
    aspect-ratio: auto;
}
nav>span{
    margin: 0 1rem 0 auto;
}
nav>span>a{
    margin: 0.2rem;
}
.dropdown-content{
    position: absolute;
    display:none;
    flex-direction: column;
    top: 0;
    left:0.8rem;
    text-align: left;
    background-color: var(--main-color);
    border: solid 1px var(--main-theme);
    text-decoration: none;
    padding: 3rem 0.5rem 1rem 0.5rem;
    z-index: 0;
    border-radius: 0.2rem;
}
.dropdown-button{
    position: relative;
    z-index: 1;
}
.nav-button{
    border-radius: 0.8rem;
    transition: all 0.2s;
    color: var(--main-color);
    background-color: var(--main-theme);
    padding: 0.8rem;
}
.nav-button:hover{
    background-color: var(--text-color);
    color:var(--main-color);
    text-decoration: none;
}