*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-theme:#fa1112;
    --secondary-theme:#fa3233;
}

@media (prefers-color-scheme: dark){
    :root{
        --main-color:#1f1f1f;
        --secondary-color:#303030;
        --text-color:#f1f1f1;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --main-color:#f1f1f1;
        --secondary-color:#e2e2e2;
        --text-color:#1f1f1f;
    }
}
body{
    background-color:var(--main-color);
}
div, table{
    background-color: var(--secondary-color);
}
h1, h2, h3, h4, h5, h6, p, a, a:hover, ul, label{
    color: var(--text-color);
}
input[type="submit"]{
    background-color: var(--main-theme);
}
a, button, input[type="submit"]{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}
input[type="submit"]:hover{
    background-color: var(--text-color);
    color:var(--main-color);
}
a:hover{
    text-decoration: underline;
}
path{
    stroke: var(--text-color);
}

::-webkit-scrollbar{
    background-color: var(--secondary-color);
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 0.2rem;
    background-color: var(--main-color);
}