/* hero */
.hero{
    display:grid;
    place-items: center;
    text-align: center;
    overflow: hidden;
    height:25rem;
    position: relative;
}
.hero-img{
    position:absolute;
    inset:0;
    top:-60%;
    width:100%;
    height:160%;
}
.hero>h1{
    font-size: 3rem;
}
/* content */
.content{
    padding: 5rem 2rem 10rem 2rem;
}
/* carousel */
.carousel{
    overflow:hidden;
    height:28rem;
    width:60%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem 0.5rem var(--secondary-color);
}
.slide{
    display:grid;
    place-items:center;
    position: absolute;
    inset:0;
    width:100%;
    height:100%;
    transition: all 0.5s;
}
.slide>img{
    height:inherit;
    width:inherit;
    object-fit: cover;
    position: relative;
}
.slide::after,
.hero::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    z-index: 1;
}
.slide>p{
    position: absolute;
    font-size:2.5rem;
}
.slide>p,
.hero>h1{
    color: #f2f2f2;
    font-weight: 600;
    z-index: 5;
    text-shadow: #000000 1px 0 10px
}
.arrow-left,.arrow-right{
    width:50%;
    height:100%;
    opacity:0.2;
    z-index:10;
    transition:all 0.3s;
    font-size: 2rem;
    color: var(--text-color);
    padding: 2rem;
    background-color: transparent; 
}
.arrow-left{
    border-radius: 0.8rem 0 0 0.8rem;
    text-align: left;
    box-shadow: inset 30rem 0 25rem -25rem var(--secondary-color);
}
.arrow-right{
    text-align: right;
    box-shadow: inset -30rem 0 25rem -25rem var(--secondary-color);
    border-radius: 0 0.8rem 0.8rem 0;
}
.arrow-left:hover,.arrow-right:hover{
    opacity:1;
}